@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-950 text-slate-50;
}

/* Scrollbar halus */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(148, 163, 184, 0.6);
    border-radius: 999px;
}